:root {
    --black: hsl(0, 0%, 0%);
    --gray: hsl(0, 0%, 27%);
    --grayish: hsl(0, 0%, 63%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'League Spartan', sans-serif;
}

body::-webkit-scrollbar {
    width: 0.7rem;
}

body::-webkit-scrollbar-track {
    margin: 0.2rem 0;
}

body::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: var(--gray);
}

.header__nvbr {
    width: 100%;
    max-height: 60rem;
    aspect-ratio: 1;
    position: relative;
    background: url('../assets/mobile-1.jpg') no-repeat;
    background-size: 100% 100%;
}

.elmnt--auto, .cntnr--auto {
    width: 90%;
    margin-inline: auto;
}

.elmnt--flx, .cntnr--flx {
    display: flex;
    align-items: center;
}

.nvbr__icons {
    height: 10rem;
}

.nvbr__icons > img + img {
    margin-inline: auto;
}

.nvbr__move {
    width: 8rem;
    height: 4rem;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    right: 0;
}

.nvbr__move > figure {
    width: 50%;
    height: 100%;
    justify-content: center;
    background-color: black;   
}

.nvbr__move > img {
    padding: 1rem;
    object-fit: contain;
}

.nvbr__menu {
    width: 100%;
    height: 10rem;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
}

.nvbr__menu.active {
    display: flex;
}

.nvbr__menu ul {
    justify-content: space-between;
    list-style: none;
}

.nvbr__menu ul li > a {
    color: var(--black);
    font-size: 1.7rem;
    font-weight: 700;
    text-decoration: none;
}

.main__artcl {
    padding: 6rem 0 7rem;
    line-height: 1.4;
    font-size: 1.6rem;
}

.main__artcl.artcl__last {
    padding: 4rem 0;
}

.main__artcl.artcl__last h2 {
    letter-spacing: 0.4rem;
}

.main__artcl h1.artcl__ttl {
    font-size: 3.6rem;
}

.artcl__cntnt {
    margin: 1.6rem 0 3.4rem;
    color: var(--grayish);
}

.main__img {
    width: 100%;
    display: block;
}

.artcl__link {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 1rem;
}

@media (any-hover : hover) {
    :is(#iconMenu, #iconClose):hover {
        cursor: pointer;
    }
}